- if current_user.is_staff?
  .small-12.panel.mainContent
    / Badge Navigation
    = content_nav do
      = render "tabs"

    .pagetitle= @title
    %span  
      %b #{term_for :badges} :
      .label.round.bold=current_course.course_badge_count
    %span
      %b Awarded #{term_for :badges} :
      .label.round.bold=current_course.awarded_course_badge_count

    .small-12.columns
      - current_course_data.badges.each do |badge|
        .small-12.medium-12.large-4.columns
          .small-5.columns
            //you may need a div here to wrap stuff
            %span.badge_wrap.small-12.no_padding.columns
              %img= link_to image_tag(badge.icon), badge_path(badge)
              %span.badge_number= badge.awarded_count
              //{:src => badge.icon, :alt => badge.name}
              //%span.badge_number= "25"
              //add badge link
          .small-7.columns
            .bold= badge.name
            = raw badge.description

      //instructor badge index table

    .clearfix
